*,
*::after,
*::before {
  box-sizing: border-box;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, #181818, #641659);
  color: rgb(240, 245, 245);
}

.main {
  background-color: rgba(46, 46, 46, 0.336);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.452);
  min-height: 35rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
